DATABASE_URL="postgresql://postgres:postgres@localhost:5432/simple_lms?schema=public"
JWT_SECRET="supersecret_lms_key"
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER="ethereal.user"
SMTP_PASS="ethereal.pass"
FRONTEND_URL="http://localhost:5173"
